$breakpoints: (
    'small':  ( min-width:  768px ),
    'medium': ( min-width:  992px ),
    'large':  ( min-width: 1200px ),
    'x-large': (min-width: 1500px)
) !default;

/// @param {String} $breakpoint 
/// @require $breakpoints

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

@mixin  back-heading($content, $bottom: auto, $top: 0) {
    &:after {
        content: $content;
        color: $black;
        opacity: 0.05;
        -webkit-text-stroke: 6px $black;
        font-size: 340%;
        color: $black;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        top: $top;
        bottom: $bottom;
    }
}

// @mixin pseudo {
//     content: '';
//     display: block;
//     position: absolute;
// }

// @mixin bg-img ($bg-url) {
//     background-image: $bg-url;
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

