$breakpoints: (
    'small':  ( min-width:  768px ),
    'medium': ( min-width:  992px ),
    'large':  ( min-width: 1200px ),
    'x-large': (min-width: 1500px)
) !default;

/// @param {String} $breakpoint 
/// @require $breakpoints

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

@mixin button-variant($color, $background, $border, $font-weight) {
    color: $color;
    background-color: $background;
    border-color: $border;
    font-weight: $font-weight;

    &:focus {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 25%);
    }

    &:hover {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);
    }
}

  // Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius, $width) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    border-radius: $border-radius;
    width: $width;
}




