.advantages {
    position: relative;

    &:before {
        content: '';
        background-color: $white;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }

    &__description {
        padding-bottom: 15px;
        border-bottom: 1px solid $grey;
        margin-bottom: $mb-mobile;

        @include respond-to(small) {
            display: flex;
        }
    }

    &__subtitle {
        margin-bottom: $mb-mobile;
    }

    &__subtext {
        text-align: center;
        opacity: 0.49;
        font-size: 12px;
        line-height: 1.33;
        color: #000000;
    }

    &__list {

        @include respond-to(small) {
            width: 60%;
        }
    }

    &__card {
        display: inline-block;
        text-align: center;
        color: $white;

        @include respond-to(small) {
            width: 40%;
            align-self: flex-start;
        }
        
        .price {
            span {
                display: block;
                font-weight: 700;
                margin-bottom: $mb-mobile;
            }

            &__old {
                text-decoration: line-through;
                font-size: $font-sm;
            }

            &__new {
                font-size: 16px;
            }
        }
    }

    &__paragraph {
        font-size: 12px;
        margin-bottom: $mb-mobile;
    }
}