.btn {
    background-color: transparent;
    border: none;
    font-weight: 700;
    color: $white;

    &__main {
        border-radius: 16px;
        background-color: $orange;
        font-size: 18px; //24
        padding: 10px 0; //15

        &_xs {
            width: 120px; //196
            font-size: 14px;//16
        }

        &_md {
            width: 170px; //266
        }

        &_lg {
            width: 200px; //for desktop 390
        }
    }

    &__secondary {
        border-radius: 31px;
        background-color: rgba($white, .1);
        font-size: 16px; //19
        font-weight: 400;
        padding: 10px 15px;
    }
}