.btn {
    background-color: transparent;
    border: 0;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 2px solid transparent;
    line-height: 1;

    &__main {
        @include button-size(10px, 0, 18px, 16px, 200px);
        @include button-variant($white, $orange, transparent, 700);
        
        &_xs {
            @include button-size(8px, 0, 14px, 10px, 120px);
        }

        &_md {
            @include button-size(9px, 0, 16px, 14px, 170px);
        }
    }

    &__secondary {
        @include button-size(10px, 15px, 16px, 30px, auto);
        @include button-variant($white, rgba($white, .1), transparent, 400);
    }

    &__arrow {
        @include button-size(15px, 20px, 0, 16px, auto);
        @include button-variant($white, $white, $black, 400);
    }

    &__icon {
        width: 10px;
        height: 19px;
    }
}