.header {
    background-color: $black;
    padding: 25px 0;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__menu {
        order: 3;
    }

    &__btn {
        order: 2;
        margin-left: auto;
        margin-right: 10px;
    }
}

.logo {
    max-width: 100px; //165
    order: 1;
}