.list {
    margin-bottom: $mb-mobile;

    @include respond-to(small) {
        margin-bottom: $mb-tablet;
    }
    
    &__item {
        font-size: $standart;
        margin-bottom: $mb-mobile;

        &_d-flex {
            display: flex;
            align-items: flex-start;
            

            span {
                width: 90%;
            }
        }
    }

    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 15px;//30
    }
}