.masters {
    position: relative;

    &:before {
        content: '';
        background-color: $white;
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }

    &__position {
        font-size: $font-sm;//18
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond-to(small) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__item {
        margin-bottom: $mb-mobile;
        text-align: center;

        @include respond-to(small) {
            margin-bottom: $mb-tablet;
            width: 50%;
        }
    }

    &__photo {
        position: relative;
        width: 200px;
        margin: 0 auto;
        margin-bottom: $mb-mobile;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: rgba($black, .7);
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        padding: 42px 21px;
        cursor: pointer;
        transition: all 0.7s;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    &__about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: rgba($black3, .48);
        border-radius: 9px;
        padding: 12px 14px;

        .social-networks__icon {
            width: 23px;
        }

        span {
            font-weight: 700;
            color: $white;
            font-size: 15px;
        }
    }

    .social-networks {
        width: 100%;
        justify-content: space-between;
    }
}