.schedule {
    padding-top: 30px;

    &__status {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: $mb-mobile;

        @include respond-to(small) {
            margin-bottom: $mb-tablet;
        }
    }

    &__icon {
        width: 40%;
        padding: 0 5px;
        height: 22px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: $standart;

        @include respond-to(small) {
            font-size: 16px;
        }
    
    }

    &__dates {
        display: flex;
        justify-content: space-between;
        margin-bottom: $mb-mobile;
        font-weight: 700;

        @include respond-to(small) {
            margin-bottom: $mb-tablet;
        }
    }

    &__date {
        width: 44%;
        text-align: center;
        word-spacing: 14px;
    }

    &__register {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond-to(small) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &__days-left {
        font-weight: 700;
        margin-bottom: $mb-mobile;
        margin-right: 15px;

        @include respond-to(small) {
            margin-bottom: 0;
        }
    }

    &__value {
        color: $white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        text-align: center;
        background-color: $black;
        margin-right: 15px;
        border-radius: 8px;
        font-weight: 700;
    }
}