.tabs {
    &__list-desktop {
        display: none;
    }

    
    &__items {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    img {
        display: none;
    }

    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px; //18
        font-weight: 400;
        text-align: center;
        color: $black2;
        padding: 10px 15px; //18
        border: 1px solid $black2;
        border-radius: 16px;
        margin-bottom: $mb-mobile;
        cursor: pointer;

        &:hover {
            background-color: $black2;
            color: $white;
        }
    }

    &__description {
        display: none;
        margin-bottom: $mb-mobile;
    }

    &__paragraph {
        font-size: $standart;
        font-weight: 400;
    }

    &__icon {
        width: 10px;
        height: 10px;
        transform: rotate(90deg);
        transition: all 0.8s;

        &_active {
            transform: rotate(-90deg);
        }
    }
}